* {
	
	font-family: Helvetica;

}

#otherLinks {

	color: white;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;

	transition: .5s;

}

#otherLinks:hover {

	color: #E6E6E6;
	text-decoration: none;

}

#bottomLinks {

	color: black;
	text-decoration: none;

	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;

    transition: .5s;

}

#bottomLinks:hover {

	color: #808080;

}

.jumboImage {

	width: 100%;

}

.bottom {

	color: white;
	background-color: black;

	padding: 1% 1% 1% 1%;

}

.underline {

	text-decoration: underline;

}

.slides {

	color: white;

}

p {

	color: black;

}